@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #6c3231;
  --color-primary-highlight: #ff8a40;
  --color-secondary: #2d415c;
  --color-secondary-white: #e3e3e3;
  /* fbb990 */
  /*  bg gradiant color */
  /* Typography*/
  --font-sans: "Plus Jakarta Sans", "Inter", "";

  --radius-2xl: 20px;
}
