@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #6c3231;
  --color-primary-highlight: #ff8a40;
  --color-secondary: #2d415c;
  --color-secondary-white: #e3e3e3;
  /* Typography*/
  --font-sans: "Plus Jakarta Sans", "Inter", "";
  --radius-2xl: 20px;
}
@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}
.animated-button {
  position: relative;
  background-color: #652e2e;
}

.animated-button::after {
  content: "";
  position: absolute;
  inset: -0.15rem;
  border-radius: inherit;
  background: conic-gradient(
    from var(--angle),
    #663719 0%,
    #703e1c 4%,
    #7f4520 8%,
    #8b4c23 12%,
    #995226 16%,
    #a65829 20%,
    #b2602c 24%,
    #bb6b2f 27%,
    #b8682e 30%,
    #b2602c 33%,
    #a65829 37%,
    #995226 41%,
    #8b4c23 45%,
    #7f4520 49%,
    #703e1c 53%,
    #663719 57%,
    #663719 100%
  );
  z-index: -1;
  animation: animate 3s linear infinite;
}

.animated-button::before {
  content: "";
  position: absolute;
  inset: -0.15rem;
  border-radius: inherit;
  background: conic-gradient(
    from 0deg,

    #995226 0%,
    #a65829 12%,
    #b2602c 24%,
    #bb6b2f 36%,
    #b8682e 48%,
    #b2602c 60%,
    #a65829 72%,
    #995226 100%
  );
  z-index: -1;
  animation: animate 3s linear infinite;
}

.animated-button::before {
  filter: blur(3px);
  opacity: 0.8;
}

@keyframes animate {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
