@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #6c3231;
  --color-primary-highlight: #ff8a40;
  --color-secondary: #2d415c;
  --color-secondary-gray: #e3e3e3;
  --color-secondary-blue: #2d415c;
  /* Typography*/
  --font-sans: "Plus Jakarta Sans", "Inter", "";
  --radius-2xl: 20px;
}
@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}
.animated-button {
  position: relative;
  background-color: #652e2e;
  box-shadow: 0 0 7px 1px #ff894080;
}

.animated-button::after {
  content: "";
  position: absolute;
  inset: -0.15rem;
  border-radius: inherit;

  background: linear-gradient(
    var(--angle),
    rgb(255, 137, 64, 0.5) 10%,
    #652e2e 90%
  );
  z-index: -1;
  animation: animate 3s linear infinite;
}

/* .animated-button::before {
  content: "";
  position: absolute;
  inset: -0.15rem;
  border-radius: inherit;
  z-index: -1;
  animation: animate 3s linear infinite;
}

.animated-button::before {
  filter: blur(7px);
  opacity: 0.8;
} */

@keyframes animate {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
